{% extends 'base.html' %}


{% block content %}
<div class="card mt-3">
<div class="d-flex position-relative" >
  <img src="/media/asosiy.jpg"  width="400px" class="flex-shrink-0 me-3" alt="Rasm">
  <div>
    <h3 class="mt-0">Todo - Kundalik</h3>
    <h5><p>Assalomu alekum !!! Men Karimov Ixtiyor ushbu saytning yaratishimdan asosiy maqsad  kundalik hayotimizda rejalashtirilgan ishlarning holati haqida ma`lumot berib turish va ularning bajarilgan yoki bajarilmaganligi haqida ma`lumot olish uchundir.</p></h5>
    <p class="card-text"><small class="text-muted">Hayotning har bir daqiqasi - bu yana bir yangi imkoniyatdir ...</small></p>
  </div>
</div>
</div>
{% endblock content %}